<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/weather.png">
    <style> 
        body {
    color: #111111;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

header {
    color: #4d4d4d;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background: rgb(255, 255, 255);
    text-align: center;
    color: #9c9c9c;
    line-height: 20px;
}

.paragraph {
    margin-top: 20px;
    text-align: center;
}

.nav {
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
}
    </style>
</head>

<body>
    {{>header}}
    <div class="content">
        <h2 class="paragraph">{{paragraph}}</h2>
    </div>
    {{>footer}}
</body>

</html>