<footer>
    <span style="">Powered by</span>
    <a href="https://nodejs.org/en/" target="_blank">
    <img style="vertical-align:middle" src="/img/node.png" alt="Node">
    </a>
    </div>
</footer>